<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings configSource="ConnectionStrings.secrets.config" />    
  <appSettings file="App.secrets.config">
    <add key="Prefix" value="!wb" />
    <add key="ConfigDir" value="C:\Projects\Temporary\WotClans\Cache" />
    <add key="CacheDir" value="C:\Projects\Temporary\WotClans\Cache" />
    <add key="RemoteApi" value="https://wotclans.com.br" />
    <add key="Coder" value="251711856417308672" />
  </appSettings>  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
</configuration>
