<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings configSource="ConnectionStrings.secrets.config" />    
  <appSettings file="App.secrets.config">
    <add key="Prefix" value="!wb" />
    <add key="ConfigDir" value="C:\Projects\wotclans\Log" />
    <add key="CacheDir" value="C:\Projects\Temporary\WotClans\Cache" />
    <add key="RemoteApi" value="https://wotclans.com.br" />
    <add key="Coder" value="251711856417308672" />
  </appSettings>  
</configuration>
