@using Negri.Wot
@{
    ViewBag.Title = "About";
}

@section extraHeaders {
    <meta name="description" content="Explanations about this site and how it works to track the status and evolution of World of Tanks' clans.">
}

@section lead {
    <section class="jumbotron top-banner">
        <h1>About this site</h1>
        <p>
            This site tracks the status and evolution of <strong>selected</strong> clans on the <a href="http://console.worldoftanks.com/">World of Tanks</a> game, for XBOX and PlayStation.
        </p>
        <p>
            The monitoring is done daily by collecting, along each day, information about the clans' members on the <a title="just an example" href="https://developers.wargaming.net/reference/xbox/wotx/clans/info/?application_id=demo&clan_id=208&r_realm=xbox" rel="nofollow">Wargaming API</a>,
            and then, for each clan member, query <i>by tank overall</i> performance, store this data on a database an then computing WN8, Win Rate etc.
        </p>
        <p>
            The rest is just simple math using weighted averages by the number of battles.
        </p>
        <p>
            This site <b>is not</b> real-time! Clans are calculated daily, but players has data refreshed on intervals ranging from 24h (active player, top WN8t15 clan) to 15 days (innactive player, very small clan, and smaller WN8t15).
        </p>
    </section>
}

<section class="row">
    <div class="col-md-12">
        <h3>About the reported statistics</h3>

        <p name="aboutWn8">
            WN8 is a statistic shows how good, in a given tank, a player is, compared to other players on the same tank.
            The full <a href="http://wiki.wnefficiency.net/pages/WN8">calculation method</a> is boring, but it is considered consistent
            with the win rate of a particular player.
        </p>
        <p>
            WN8 values around 1,000 are midfielders, and above and below are better and worst values, respectively.
            These values are <a href="http://wotinfo.net/en/wn8scale">divided into ratings</a>, and each rating with a color and name as below:
        </p>
        <table class="data">
            <caption>WN8's Ratings</caption>
            <thead>
                <tr>
                    <th title="Ratings' start value.'">Value</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
                <tr class="label-verybad">
                    <td class="number">0</td>
                    <td>Very Bad</td>
                </tr>
                <tr class="label-bad">
                    <td class="number">300</td>
                    <td>Bad</td>
                </tr>
                <tr class="label-belowaverage">
                    <td class="number">450</td>
                    <td>Below Average</td>
                </tr>
                <tr class="label-average">
                    <td class="number">650</td>
                    <td>Average</td>
                </tr>
                <tr class="label-aboveaverage">
                    <td class="number">900</td>
                    <td>Above Average</td>
                </tr>
                <tr class="label-good">
                    <td class="number">1200</td>
                    <td>Good</td>
                </tr>
                <tr class="label-verygood">
                    <td class="number">1600</td>
                    <td>Very Goog</td>
                </tr>
                <tr class="label-great">
                    <td class="number">2000</td>
                    <td>Great</td>
                </tr>
                <tr class="label-unicum">
                    <td class="number">2450</td>
                    <td>Unicum</td>
                </tr>
                <tr class="label-superunicum">
                    <td class="number">2900</td>
                    <td>Super Unicum</td>
                </tr>
            </tbody>
        </table>
        <p style="padding-top: 1em;">
            A commander is <strong>active</strong> if he/she plays at least 21 matches on the last month (actualy, the last 28 days).
        </p>
        <p>
            <strong>Recent Win Rate</strong> and <strong>Recent WN8s</strong> are calculated using only <strong>active</strong> commanders of each clan,
            weighing the individual statistics by the number of battles performed on the last month.
        </p>
        <ul>
            <li><abbr>WN8a</abbr>: it's the weighted <strong>monthly</strong> WN8 of <strong>all</strong> <strong>active</strong> commanders;</li>
            <li><abbr>WN8t15</abbr>: it's the weighted <strong>monthly</strong> WN8 of the <strong>top 15</strong> <strong>active</strong> commanders;</li>
            <li><abbr>WN8t7</abbr>: it's the weighted <strong>monthly</strong> WN8 of the <strong>top 7</strong> <strong>active</strong> commanders.</li>
        </ul>
        <p>
            The individual ranking of a commander inside the clan is based on the monthly WN8.
            This choice makes the ranking more dynamic, reflecting a more up to date reality.
        </p>
        <p>
            The clan ranking is based on the <abbr title="it's the weighted monthly WN8 of the top 15active commanders">WN8t15</abbr>. This yields a more
            dynamic picture of the <i>scene</i> and avoids cheating by <i>Reroll</i>; and it will not encourage clans to climb in the ranking <b>exclusively</b>
            through the <i>elimination of the weakest</i>. My explicit intention is to stimulate larger clans,
            with an elite teaching a larger base how to play better and better.
        </p>
        <section id="suspectData">
            <h4>Suspect Data</h4>
            <p>
                This site is the end point of a chain of information that flows from the <a href="http://console.worldoftanks.com/">Wargaming</a>'s
                battle servers to the <a href="http://console.worldoftanks.com/">Wargaming</a>'s web API servers,
                and finally to the my data collectors. If at any point there is data corruption, lag or inconsistencies, the information on this site will be affected.
            </p>
            <p>
                I try to detect suspicious data, filtering out outliers in the recent WN8 of each player.
                The name of a player will be in <span class="suspectData">red</span> if an outlier was detected, and the value of the
                reported recent WN8 will come from the previous collection, which is, hopefully, better information. Usually the problem solves by itself in few days.
            </p>
        </section>
    </div>
</section>
<section class="row" id="caveats">
    <div class="col-md-12">
        <h3 title="Warnings!">Caveats</h3>
        <p>
            Any statistics should be taken carefully. Don't be (very) upset if you (or your clan) has a low WN8: the game's objetive is to be fun to play,
            and if you (and your clan) begame good at it, the better.
        </p>
        <p>
            Large portion of the statistics are collected in public matches, often even playing in platoon.
            So these numbers are not accurate predictors of a battle of clans, where greater coordination is required and possible.
        </p>
        <p>
            After a clan is added to the system it takes a full month of data collection for the recent values (last month)
            became comparable with those of other clans.
        </p>
        <p style="padding-bottom: 1em;">
            Not all clans of the game are represented on this site. If you want your clan be included, <a href="#addClan">ask me</a>.
            Even if a clan is being tracked it only appears in listing if it has at least 7 active commanders and at least 25% of all commanders are active.
        </p>
        <div class="alert alert-info" id="privacyInfo">
            <h4>Privacy Policy</h4>
            <p>
                This site uses direct and indirect cookies (from Google, to Analytics), to collect information about visitors in aggregated mode.
                This information is used to track the most accessed pages, understand the technologies and demographics of visitors (what is your language?),
                and to help google, as a search engine, to put this site in results of people who may have and interest in it.
            </p>
            <p>
                I do not track your personal data, except your performance in the game. If you want to use a tracking blocker like <a href="https://getadblock.com/">AdBlock</a>, be my guest. 
                I use it myself. Even on my own site.
            </p>
            <p>
                The only information about you that I know is your @GlobalHelper.Plataform.TagName(), I don't know your e-mail, except if you mail me, 
                I don't know your Discord User unless you use the <a href="~/DiscordBot">Discord Bot</a> command <kbd>SetWhoIAm</kbd>. 
                I promisse to not spam you about anything, as I don't have anything to sell or ask. I do not keep any logs for more than 7 days, and they are used only
                do diagnose issues, or to understand the technologies you use to access the site, or the languages that you would preffer to see on the site.                 
            </p>
            <p>
                You can ask me to remove your data: Just state your @GlobalHelper.Plataform.TagName(),
                and I will delete any data that I have on you after some confirmation that you are, indeed, the owner of the @GlobalHelper.Plataform.TagName(). 
                The deletions are irreversible.
            </p>
        </div>
    </div>
</section>
<section class="row" id="addClan">
    <div class="col-md-12">
        <h3>Adding your clan</h3>
        <p>
            I don't scan all the clans in the game; so, to add your clan to the list, please
            send a <a href="mailto:admin@wotclans.com.br?subject=WoTClans - Clan Inclusion">mail to me</a>,
            putting in the subject "WoTClans", and in the message body the <strong>tag</strong> of your clan,
            <strong>the plataform (XBOX or PlayStation)</strong>, your <strong>gamer tag</strong> and,
            if you want to put a flag alogside the clan name, the country (or region, like <i>Europe Union</i>),
            <a href="~/Flags">choose one</a> and tell me their code. I may take up to a Week to do the first scanning, so please be patient.
        </p>
        <p>
            The clan <strong>must have at least 7 members</strong>.
        </p>
        <p>
            <b>Flag:</b> are completely optional. If you want to change the flag of your clan, <a href="~/Flags">choose one</a> and tell me (mail, Discord) their code.
            Only officials of the can can ask me that.
        </p>
        <p>
            I can add clans to the site on my discretion, usually if the clan enters a tournamment, or if it cacthes my attention in the battlefiled.
        </p>
    </div>
</section>
<section class="row" id="tournaments">
    <div class="col-md-12">
        <h3>Tournaments</h3>
        <p>
            I may put pages related to tournaments that are going on. I'm not the responsible, organizer, owner or sponsor of these events:
            I just set up a page that is nothing more than a filter on the site data.
        </p>
        <p>
            I do these pages for tournaments that catch my attention, or upon request of organizers or participants. To request the inclusion of a tournament
            send an <a href="mailto:admin@wotclans.com.br?subject=WoTClans - Tournament Inclusion">e-mail</a> with the subject line "Tournament Inclusion" containing the following:
        </p>
        <ol>
            <li>Name: A short name for the tournament, which will appear as the link text for the page;</li>
            <li>Description: A longer name for the tournament, which will appear at the top of the tournament page;</li>
            <li>Start date;</li>
            <li>End date, even if an estimate;</li>
            <li>List of <strong>all tags</strong> from the participants <strong>clans</strong>, (not the players!);</li>
            <li>Internet address of a page with the brackets, optional;</li>
            <li>Internet address of a page countainng general information about the tournament, optional;</li>
            <li>Internet address of a video about the tournament, optional;</li>
            <li>Internet address of a page for discussions (a forum thread) about the tournament, optional;</li>
            <li> If you think the tournament should be listed just for visitors of one (or a few) languages, send the two-letter <a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes">ISO 639-1</a> codes of these languages.</li>
        </ol>
        <p>
            Note that at least one of these Internet addresses must be supplied.
        </p>
        <p>
            I only add tournaments once a week, so be patient. The page of the tournaments are in the site menu 2 weeks before and after the event.
        </p>
    </div>
</section>
<section class="row" id="ahead">
    <div class="col-md-12">
        <h3>The path ahead...</h3>
        <p>
            It's always possible to get better. Some ideas to this site, in no particular order:
            <ul>
                <li>
                    <b>More languages</b>: translate the site to Spanish, Russian and German.
                    But I need <a href="mailto:admin@wotclans.com.br?subject=WoTClans - Help Translating">help</a> to do it;
                </li>
                <li>
                    <b>Compare clans</b>: A page to compare two clans side by side;
                </li>
            </ul>
        </p>
        <p>
            <a href="mailto:admin@wotclans.com.br?subject=WoTClans - Feedback">Send me</a> suggestions and feedback so I can prioritize what
            could make this site (and the WoT Gamming Community) better.
        </p>
    </div>
</section>
<section class="row" id="API">
    <div class="col-md-12">
        <h3 id="api">API and data freedom</h3>
        <p>
            In the same way that this application uses data from other sources, the data in this application is free to be used by other applications
            and compose different views of the data.
        </p>
        <p>
            To easy the data transfer it is possible to access this site information in
            <abbr title="JavaScript Object Notation. JSON is a lightweight data-interchange format. JSON is language independent, self-describing and easy to understand.">json</abbr>.
        </p>
        <p>
            If you do use the API on your application please set a reference back to this page; and send me a <a href="mailto:admin@wotclans.com.br?subject=WoTClans - API">message</a>,
            so I can forewarn you once something is about to change in the API.
        </p>
        <p>
            The current APIs are
            <ul>
                <li><a rel="nofollow" href="~/api/clan">Clans</a>: All the clans on the system;</li>
                <li><a rel="nofollow" href="~/api/clan/UP">Clan Detail</a>: Details on a particular Clan;</li>
                <li><a rel="nofollow" href="~/api/tanks/moe">MoE</a>: The estimated MoE values;</li>
                <li><a rel="nofollow" href="~/api/tanks/wn8">WN8</a>: The expected values for WN8 calculation.</li>
            </ul>
        </p>
    </div>
</section>
<section class="row" id="Acknowledgements">
    <div class="col-md-12">
        <h3>Acknowledgements</h3>
        <p>
            This site could not exists without <a href="http://console.worldoftanks.com/">Wargaming</a> providing battles' data in public APIs. Kudos to them!
        </p>
        <p>
            To all the good (and patient) people of the <a href="https://wotclans.com.br/Clan/SELVA">SELVA</a> clan, who helped me with tests and reviews.
        </p>
        <p>
            To <b title="On XBOX">OldTimer778</b>, for the awesome French translation. <i>Merci beaucoup!</i>
        </p>
        <p>
            The <i>Word of Tanks</i> name and related names and images are trademarks of the Wargaming.
            Wargaming kindly allowed me to use their art material, as long as this site stays as <i title="please, Donate!">non-profit</i>. Thanks WG!
            The <i>XBOX</i> name, related names and images are trademarks of Microsoft.
            The <i>PlayStation</i> name, related names and images are trademarks of Sony.

        </p>
    </div>
</section>
<section class="row" id="aboutme">
    <div class="col-md-12">
        <h3>About me</h3>
        <p>
            I'm <a href="http://negri.net.br/">JP Negri</a>, <i>gamer tag</i> "JP Negri Coder" on XBOX Live.
            I'm far from being an Unicum <a href="https://wotstatsconsole.de/player?id=1763298&system=xbox&language=en&useTanks=1&useMedals=1">player</a>, but I'm (slowly) getting better.
            And I'm a proudly member of the <a href="https://wotclans.com.br/Clan/SELVA">SELVA</a> clan!
        </p>
        <p>
            <a href="mailto:admin@wotclans.com.br?subject=WoTClans - Feedback">Send me</a> suggestions, bug reports and feedback. I will try to answer the best I can.
        </p>
        <p>
            We can also talk on <a href="https://discord.gg/MTCMq3Q" hreflang="en" title="Talk to me on Discord (in English)"><img alt="Discord" src="~/Images/discord.svg" height="32" /></a> if you want to!
        </p>
    </div>
</section>
