@using Negri.Wot.Properties

@{
    ViewBag.Title = "Donate!";
}

@section extraHeaders {
    <meta name="description" content="Donate to keep this site up and running!">
}

@section lead {
    <section class="jumbotron top-banner">
        <h1>@Resources.Donate</h1>
        <p>
            @Resources.DonateExplain
        </p>
    </section>
}


@*<section class="row" id="Thanks">

        <div class="col-md-3"></div>
        <div class="col-md-6 alert alert-success">

            @if (GlobalHelper.Language == "pt")
            {
                <h4>Obrigado!</h4>
                <p>
                    Graças a generosidade de 6 jogadores incríveis <span style="font-size: xx-small">(nenhum brasileiro...)</span> os servidores estão completamente pagos por 2018! Viva!
                </p>
            }
            else
            {
                <h4>Thanks!</h4>
                <p>
                    Due to the generosity of 6 awesome players the servers are fully paid for 2018! Yay!
                </p>
            }
        </div>
        <div class="col-md-3"></div>
    </section>*@

<section class="row">
    <div class="col-md-12">
        @if (GlobalHelper.Language == "pt")
        {
            <h3>Sua ajuda é muito necessária!</h3>
            <p>
                <b>Atualização em 2023-02-17</b>: Eu realmente preciso pagar pelos servidores... se não conseguir doações até o final de março, terei de encher o site de propaganda...
            </p>
            <p>
                Eu comecei esse site em Fevereiro de 2016 como um hobby, para verificar facilmente minhas estatísticas e as do meu clã. Inicialmente apenas em português, e com bem poucos outros clãs.
                Eu nem mesmo usava um banco de dados, somente um monte de arquivos texto, pois havia pouca informação.
            </p>
            <p>
                Então mais pessoas no Brasil começaram a usar o site, e pedirem para incluir seus clãs. Logo alguns ao redor do mundo também me pediam para colocar seus clãs,
                então em fiz uma versão em Inglês. Agora, em fins de janeiro de 2022, eu estou rastreando ~2.000 clãs ativos e ~36.200 jogadores.
                Estou usando uma banco de dados com ~25GB e servindo mais de 73.000 páginas por mês!
            </p>
            <p>
                Mas o melhor de tudo: eu me tornei parte de uma comunidade maior de jogadores. Eu ainda estou <a href="~/Clan/SELVA/Commanders/1763298/All">longe de ser Unicum</a>,
                mas algumas vezes as pessoas mandam-me mensagens no começo de partidas. É recompensador.
            </p>
            <p>
                Em 2017 eu criei as páginas de <a href="~/Tanks/MoE">MoE</a>, <a href="~/Leaderboard/All">Líderes</a> e <a href="~/Leaderboard/All">Ases</a>.
            </p>
            <p>
                Em 2018 criei páginas com estatísticas de <a href="~/Tanks/64193">cada tanque</a>,
                e principalmente as páginas para a performance <a href="~/Clan/SELVA/Commanders/1763298/Recent">recente</a> e <a href="~/Clan/SELVA/Commanders/1763298/All">geral</a> de jogadores.
                Também em 2018 eu criei o <a href="~/DiscordBot">bot para o Discord</a>, bastante popular, e tornei o projeto todo <a href="https://github.com/negri/wotclans">Open Source</a>.
                2018 foi um grande ano!
            </p>
            <p>
                Desde 2019 apenas mantive o site funcionando, e foram necessárias intervenções em código quando acrescentaram o modo de guerra fria e unificaram as plataformas com o cross-play.
            </p>
            <p>
                Em 2020 e 2021 não pedi doações: a vida ficou muito mais difícil para um monte de pessoas, e preferi que as pessoas doassem para causas mais nobres, relacionadas à Covid que à mim.
            </p>
            <p>
                Mas existe via real, fora do World of Tanks, e eu tenho de pagar pelo servidor que hospeda esse site. Eu uso <a href="http://www.smarterasp.net/">SmarterASP.NET</a>
                e eles provem um serviço estelar e acessível, mas não é de graça: para o próximo ano, mantendo tudo onde está, acabou de me custar <b>US$119,40</b>, o equivalente a <b>R$684,39</b>.
                Além disso renovei o domínio por mais 3 anos, por <b>R$112,00</b>. Tudo saído do meu bolso.
            </p>
        }
        else
        {
            @*<h3>The server is paid for 2019! Thank you!!!</h3>
                <p>
                    Finally, in September, thanks to a dozen of comunity members' generosity, the server is fully paid for 2019. For 2020 I'm
                    thinking in setup a patreon allowing subscribers access to especial features, especially bot commands.
                </p>
                <p>
                    Again, thank you very much!
                </p>
                <hr style="border-color:azure;" />*@
            <h3>Your help is pretty much appreciated!</h3>
            <p>
                <b>Update at 2023-02-17</b>: I really need to pay for the servers... if I could not get funding until the end of March, I will need to put ads. Sorry.
            </p>
            <p>
                I started this site in February 2016 as a hobby, to easily check my statistics and those of my clan. At first only in Portuguese, and very few clans.
                I didn't even used a database, only a bunch of text files, as there was so few data.
            </p>
            <p>
                Then, more people in Brazil started to use the site, and ask to include their clans. And soon some people around the world asked to include their clans,
                and I delivered an English version. Right now, 2021 January, I'm tracking about 2,000 active clans and 36,200 players.
                I'm using a 25GB database and serving more than 73,000 pages per month!
            </p>
            <p>
                But the best of it all: I became part of a large community of players. I'm still <a href="~/Clan/SELVA/Commanders/1763298/All">far from Unicum</a>,
                but sometimes people send me messages at the start of matches. It's rewarding.
            </p>
            <p>
                In 2017 I introduced the <a href="~/Tanks/MoE">MoE</a>, <a href="~/Leaderboard/All">Leaderboard</a> and <a href="~/Leaderboard/All">Ace</a> pages.
            </p>
            <p>
                In 2018 I created pages with detailed statistics for <a href="~/Tanks/64193">each tank</a>,
                and the players' performance pages, <a href="~/Clan/SELVA/Commanders/1763298/Recent">recent</a> and <a href="~/Clan/SELVA/Commanders/1763298/All">overall</a>.
                Also in 2018 I created the <a href="~/DiscordBot">Discord Bot</a>, highly popular, e made the entire project <a href="https://github.com/negri/wotclans">Open Source</a>.
                2018 was a great year!
            </p>
            <p>
                Since 2019 I'm just keeping the site up. There were a couple of times I had to code to accomodate the new Cold Wars mode (by ignoring it) and the cross-play.
            </p>
            <p>
                Due to COVID-19 I didn't asked for donations in 2020 and 2021. There were better uses for your money than my site.
            </p>
            <p>
                But here we are in 2023-02, and real life, outside of World of Tanks still exists, and I need to pay for the server that hosts this site. I use <a href="http://www.smarterasp.net/">SmarterASP.NET</a>
                and they provide a good and affordable service, but it's not free. For the next year it just cost me <b>US$119.40</b>.
                It may not appear much for someone on richer parts of the world, but consider that down here, in Brazil, this is ~BRL680.00, about half of our monthly minimum wage.
            </p>
            
        }
        <section class="row alert alert-info" id="donateSection">
            <div class="col-md-12">
                <p><strong>Buy me a Coffee!</strong></p>
                <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
                <script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#48857d', 'A0A4ITI9T');kofiwidget2.draw();</script>
                @if (GlobalHelper.Language == "pt")
                {
                    <p><strong>Doe com PIX</strong></p>
                    <p>
                        Envie qualquer quantia para a chave PIX aleatória <b>42f99bdc-53d2-4fe9-b940-3bf6059b562f</b> que está no Banco Inter, ou use o QR Code abaixo.
                    </p>
                    <p>
                        <img src="~/Images/PIX.Donate.To.WotClans.png" alt="Doe para WoTClans com a chave PIX 42f99bdc-53d2-4fe9-b940-3bf6059b562f" style="width: 300px;" />
                    </p>
                }
            </div>

        </section>
        <section id="thanks">
            @if (GlobalHelper.Language == "pt")
            {
                <p>
                    Muito obrigado por usar meu site, ler essa página, e contribuir!
                </p>
                <p>
                    Boas Batalhas!
                </p>
                <p>
                    cordialmente, <i>JP Negri</i>
                </p>
            }
            else
            {
                <p>
                    Thank you very much for using my site, reading this page, and contributing!
                </p>
                <p>
                    Good Battles!
                </p>
                <p>
                    yours, <i>JP Negri</i>
                </p>
            }

        </section>

    </div>
</section>



