<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings configSource="ConnectionStrings.secrets.config">    
  </connectionStrings>
  <appSettings file="App.secrets.config">
    <add key="FtpFolder" value="ftp://ftp.Smarterasp.net/" />
    <add key="FtpUser" value="negrijp-wc-up" />
    <add key="ResultDirectory" value="C:\Projects\wotclans\Results" />
    <add key="RemoteSiteStatusApi" value="https://wotclans.com.br/api/status" />

    <add key="PsFtpFolder" value="ftp://ftp.Smarterasp.net/" />
    <add key="PsFtpUser" value="negrijp-pswc-up" />
    <add key="PsResultDirectory" value="C:\Projects\wotclans\ResultsPS" />
    <add key="PsRemoteSiteStatusApi" value="https://ps.wotclans.com.br/api/status" />

    <add key="SmtpSubject" value="WoTClans - Status - {0}" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="wotclans.service@gmail.com" />
    
    <add key="CacheDirectory" value="C:\Projects\Temporary\WoTClans\DataCache" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
